@model RegisterUserVM

@if (ViewData.ContainsKey("Excepcion"))
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @ViewData["Excepcion"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@using (Html.BeginForm("RegisterUser", "Users"))
{
    <form>
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="form6Example1">Nombre</label>
                    @if (Model == null)
                    {
                        <input type="text" id="form6Example1" name="Name" class="form-control" required />
                    }
                    else
                    {
                        <input type="text" id="form6Example1" name="Name" value="@Model.Name" class="form-control" required />
                    }
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="form6Example2">Apellido</label>
                    @if (Model == null)
                    {
                        <input type="text" id="form6Example2" name="LastName" class="form-control" required />
                    }
                    else
                    {
                        <input type="text" id="form6Example2" name="LastName" value="@Model.LastName" class="form-control" required />
                    }
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="form6Example1">Correo</label>
                    @if (Model == null)
                    {
                        <input type="email" id="form6Example1" name="Mail" class="form-control" required />
                    }
                    else
                    {
                        <input type="email" id="form6Example1" name="Mail" value="@Model.Mail" class="form-control" required />
                    }
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="form6Example2">Contraseña</label>
                    <input type="password" pattern="^(?=.*\d)(?=.*[\u0021-\u002b\u003c-\u0040])(?=.*[A-Z])(?=.*[a-z])\S{8,16}$" title="entre 8 y 16 caracteres, un dígito, una minúscula, una mayúscula y al menos un caracter no alfanumérico" id="form6Example2" name="Password" class="form-control" required />
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-sm-6">
                <div class="form-outline">
                    <label for="exampleDataList" class="form-label">Rol de Usuario</label>
                    <select class="form-select" name="Role" required>
                        <option value="0">Abogado</option>
                        <option value="1" selected>Auxiliar</option>
                        <option value="2">Cliente</option>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary  mb-4 col-12 ">Crear</button>
    </form>
}