@using Abogado.Application.CasesServices.GetByCaseId
@model GetByCaseIdDTO

@using (Html.BeginForm("EditCase", "Cases"))
{
    <form>
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="form6Example1">Nombre</label>
                    <input type="text" id="form6Example1" name="CaseName" value="@Model.CaseName" class="form-control" required />
                    <input type="hidden" name="Id" value="@Model.Id"/>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form6Example2">Descripción</label>
                <textarea class="form-control" name="Description" id="exampleFormControlTextarea1" rows="3" required> @Model.Description</textarea>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col-sm-6">
                <label for="exampleFormControlFile1">Archivo de Caso</label>
                <input type="file" name="" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <button type="submit" class="btn btn-primary  mt-4 col-12 ">Editar</button>
        </div>
    </form>
}
