@using Abogado.Application.CasesServices.GetByCaseId
@model GetByCaseIdDTO

<form method="post" asp-controller="Cases" asp-action="EditCase" enctype="multipart/form-data" class="form-group">
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form6Example1">Nombre</label>
                <input type="text" id="form6Example1" name="CaseName" value="@Model.CaseName" class="form-control" required />
                <input type="hidden" name="Id" value="@Model.Id" />
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label for="exampleDataList" class="form-label">Procesos</label>
                <select class="form-select" name="Trial" required id="trial">
                    <option value="0">Inicio del Divorcio</option>
                    <option value="1">Introduccion de la Demanda</option>
                    <option value="2">Áviso del Cónyuge</option>
                    <option value="3">Respuesta del Cónyuge Notificado</option>
                    <option value="4">Intercambio de Documento e Información</option>
                    <option value="5">Proceso de Mediación</option>
                    <option value="6">Aceptación del Acuerdo</option>
                    <option value="7">Acta de Divorcio</option>
                    <option value="8">Juicio de Divorcio</option>
                    <option value="9">Apelacion</option>
                    <option value="10">Fim Proceso</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form6Example1">Forma de Divorcio</label>
                <select class="form-select" name="Role" required>
                    <option value="0">Voluntario</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label for="exampleDataList" class="form-label">Mecanismo Divorcio</label>
                <select class="form-select" name="DivorceMechanism" required>
                    <option value="0">Disolucion Natural</option>
                </select>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="form-outline">
            <label class="form-label" for="form6Example2">Descripción</label>
            <textarea class="form-control" name="Description" id="exampleFormControlTextarea1" rows="3" required> @Model.Description</textarea>
        </div>
    </div>
    <div class="row mt-4 mb-4">
        <div class="col-sm-6">
            <label for="exampleFormControlFile1">Archivo de Caso</label>
            <input type="file" name="Archivo" class="form-control-file" id="exampleFormControlFile1">

        </div>
        <div class="mt-4 form-check">
            <input class="form-check-input" name="IsSave" type="checkbox" value="true" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">Agregar a Historial de Cambios</label>
        </div>
        <button type="submit" class="btn btn-primary  mt-4 col-12 ">Editar</button>
    </div>

</form>


