@using Abogado.Application.MeetingServices.GetMeetingById
@model GetMeetingByIdDTO

@using (Html.BeginForm("Edit", "Meetings"))
{
    <form>
     <div class="form-outline mb-2">
            <label class="form-label" name="date" for="Fecha">Fecha</label>
            <input type="hidden" name="id" value="@Model.Id">
            <input type="datetime-local" name="date" id="Fecha" value="@Model.Date.ToString("yyyy-MM-ddTHH:mm")" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary" >Editar</button>
    </form>
}