@using (Html.BeginForm("Register", "Meetings"))
{
    <form>
    <div class="form-outline mb-2">
            <label class="form-label" name="labelDate" for="Fecha">Fecha</label>
            <input type="datetime-local" name="date" id="Fecha" class="form-control" required />
        </div>


        <button type="submit" class="btn btn-primary">Crear</button>

        <div class="row mb-4">
            <div class="col-sm-6">
                <div class="form-outline">
                    <label for="exampleDataList" class="form-label">Mecanismo Divorcio</label>
                    <select class="form-select" name="DivorceMechanism" required>
                        <option value="0">Disolucion Natural</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
}